/* File Written by: Ashley Masters
Last Updated: 3rd Dec 2025 */

:root {
    /* Alternate colors
    --color-1: #7c8fa3;
    --color-2: #4682b4;
    --color-3: #6cccc4;
    --alt-color-1: #008000;
    --alt-color-2: #800080;
    --alt-color-3: #c709c7;
    --alt-color-4: #ceb527;
    --alt-color-5: #FF3030;
     */
    --primary-color: #7c8fa3;
    --secondary-color: #4682b4;
    --tertiary-color: #6cccc4;
}

/* Page Wide Rules */
body {
    background-color: var(--primary-color);
}
h1, h2 {
    font-family: "Oswald", "Times New Roman", sans-serif;
}
p{
    font-family: "noto sans", "Times New Roman", sans-serif;
}
h2 {
    width: 100%;
}
h1 {
    font-size: 32px;
}
.section-header {
    text-align: center;
}
a {
    text-decoration: none;
    /* color: var(--secondary-color); */
}
a:hover {
    text-decoration: underline;
}

/* Rules related to menu at header and footer */
nav button {
    font-family: "Roboto slab", "Times New Roman", sans-serif;
    background-color: var(--tertiary-color);
    font-size: 20px;
    border-radius: 4px;
}
.menu-list {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}
.menu-list li {
    margin: 7.5px;
}
.menu {
    display: flex;
    align-content: center;
    justify-content: center;
}
.menu-item {
    align-self: center;
    display: flex;
    padding: 10px 0px;
    height: 100%;
    margin: 10px 0px;
}
.sub-menu-item {
    margin: 0px 5px;
}
#header-div, #footer-div{
    display: flex;
    background-color: var(--tertiary-color);
    flex-direction: column;
}

/* Rules Related to The Introduction */
#introduction {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}
#intro-text {
    margin-left: 5px;
}
#hero-img {
    max-width: 100%;
}
#intro-text {
    display: flex;
    flex-direction: column;
}
#mission-vision {
    font-weight: bold;
    text-align: center;
}
#linkedINLink {
    transition: 0.5s linear;
}
#linkedINLink:hover {
    transform: matrix(.95, 0.1, 0.1, 1.2, 0, -10);
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    background-color: var(--primary-color);
}

/* Rules related to the Skills Section */
#skill-list {
    list-style: none;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding-inline-start: 0px;
}

#skill-list li {
    background-color: var(--secondary-color);
    border-radius: 3px;
    font-size: 1.25em;
    text-align: center;
}

/* Rules related to break (whitespace before content) */
#break {
    height: 250px;
}

/* Rules related to the Contact Section */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-button {
    background-color: var(--primary-color);
    font-family: "Roboto slab", "Times New Roman", sans-serif;
    font-size: 20px;
    border-radius: 4px;
    margin: 0px 5px;
}

/* Rules related to the Project Section */
.project {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2px;
}
#project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 20px;
}

/* Tablet Mode */
@media (min-width: 768px) and (max-width: 1023px) {
    #introduction {
        flex-direction: row;
    }
    #hero-img {
        max-width: 60%;
    }
    nav button, #header-div, #footer-div {
        flex-direction: row;
    }
    #intro-line {
        display: none;
    }
    #project-grid, #skill-list {
        grid-template-columns: 1fr 1fr;
    }
    #skill-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #linkedINLink:hover {
        transform: matrix(1.2, 0.1, 0.1, 1.2, -80, -10);
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

/* Desktop Mode */
@media (min-width: 1024px) {
    #introduction {
        flex-direction: row;
    }
    #hero-img {
        max-width: 50%;
    }
    nav button, #header-div, #footer-div {
        flex-direction: row;
    }
    #project-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #skill-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #linkedINLink:hover {
        transform: matrix(1.2, 0.1, 0.1, 1.2, -80, -10);
    }
}
